@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

.title1{
    padding-top: 90px;
    background: url(../image/bkg.png) no-repeat;
    background-position: center;
    background-size: cover;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.row .image{
    flex:1 1 42rem;
    text-align: center;
}

.row .image img{
    height:30rem;
}
.row .content{
    flex:1 1 42rem;
}

.row .content .title{
    color:var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.row .content p{
    color:var(--main-color);
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}

.row .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;
}

.row .content .icons-container .icons{
    flex:1 1 15rem;
    padding:1.5rem;
    text-align: center;
    border:var(--border);
    border-radius: var(--border-radius);
}

.row .content .icons-container .icons img{
    height: 5rem;
}

.row .content .icons-container .icons h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color:var(--main-color);
}